z{% extends "app/conexion.html" %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href={% static 'app/css/login.css' %} rel="stylesheet">
{% load crispy_forms_tags %}

<h4>LOGIN</h4>

<br>

<form action="" method="post">
    {% csrf_token %}

    <div class="card mx-auto" style="width: 40rem;">
  <div class="card-body">
    <h5 class="card-title">INGRESE SUS CREDENCIALES</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Registre los campos requeridos:   </h6>
    
    {{ form | crispy }}

    <p class="card-text">Por favor diligenciar el campo contraseña con 10 caracteres.</p>
    <a href={% url 'registro' %} class="card-link">INICIO</a>
    <a href={% url 'registrer' %} class="card-link">REGISTRARSE</a>
    <button class="btn btn-sm btn-primary fload-end" type="submit">INICIAR SESION</button>
  </div>
</div>

</form>





{% endblock  %}