body {
    background-image: url("{% static 'app/jpg/imagen.jpg' %}");
    background-size: cover;
    background-attachment: fixed;

    
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 2rem;
}
    .navbar-custom {
        background-color: #656ea7; 
        border-bottom: 1px solid #51056a; 
        display: flex;
        align-items: center; 
        justify-content: space-between; 
        padding: 20px 100px;
        font-family:Helvetica;
    }

    .navbar-title {
        font-size: 1.5em;
        font-weight: bold;
        color: #060349;
        text-decoration: none;
        margin-right: 20px;
    }

    .navbar-links {
        display: flex;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0; 
    }

    .nav-item-custom {
        margin-left: 15px;
    }

    .nav-link-custom {
        color: #25a64c;
        text-decoration: none;
        font-size: 1.1em;
        display: inline-block;
        padding: 5px 10px; 
       
    }

    .search-form-custom {
        display: flex; 
        align-items: center;
        margin-left: 20px; 
    }

    .search-form-custom .form-control {
        margin-left: 10px;
    }

    .container {
        padding: 2px;
    }
