.card{
    background-color: rgba(116, 20, 20, 0.9);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 0 auto;
    max-width: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: transform 0.3s ease;
    

}